# extract and transform data

In [1]:
import pandas as pd
from sqlalchemy import create_engine
#for fetching lat/long
import requests
import urllib.parse

#load to database
from config import username, password, db

In [2]:
BA_file = 'data/BusinessAnalyst.csv'
busAnal_df = pd.read_csv(BA_file)
busAnal_df.shape
## notes

(4092, 17)

In [3]:
###  remove "glassdoor est." words from Salary column
##things  go wrong at row 3693
# df.loc[1:3, :]
tophalf_df = busAnal_df.copy()
tophalf_df = tophalf_df.loc[0:3691, :]
#tophalf_df.head()
#busAnal_df.shape

In [4]:

fixed_tophalf_df = tophalf_df.iloc[:,2:18]
#fixed_tophalf_df
#tophalf_df.shape

In [5]:
fixed_bottomhalf_df = busAnal_df.copy()
fixed_bottomhalf_df = fixed_bottomhalf_df.loc[3692:, :]
#fixed_bottomhalf_df = busAnal_df.loc[3692:, :]
fixed_columnnames = fixed_tophalf_df.columns
#print(fixed_columnnames)
#fixed_bottomhalf_df

In [6]:
fixed_bottomhalf_df = fixed_bottomhalf_df.rename(columns = {'Unnamed: 0':'Job Title',
                                                            'index':'Salary Estimate',
                                                            'Job Title':'Job Description',
                                                            'Salary Estimate':'Rating',
                                                            'Job Description':'Company Name',
                                                            'Rating':'Location',
                                                            'Company Name':'Headquarters',
                                                            'Location':'Size',
                                                            'Headquarters':'Founded',
                                                            'Size':'Type of ownership',
                                                            'Founded':'Industry',
                                                            'Type of ownership' : 'Sector',
                                                            'Industry':'Revenue',
                                                            'Sector':'Competitors',
                                                            'Revenue':'Easy Apply',
                                                            'Competitors':'delete1'
                                                            , 'Easy Apply':'delete2'})
fixed_bottomhalf_df = fixed_bottomhalf_df.drop(columns = ['delete1', 'delete2'])
#fixed_bottomhalf_df

In [7]:
# fixed_bottomhalf_df.columns=fixed_columnnames
print(fixed_bottomhalf_df.shape)
print(fixed_tophalf_df.shape)
#fixed_tophalf_df

(400, 15)
(3692, 15)

In [8]:
#clean_busAnaly_df = fixed_tophalf_df.merge()
#busAnal_df.loc[3692:, :]
fixed_bus_anal_frame = [fixed_tophalf_df,fixed_bottomhalf_df]
clean_busAnaly_df  = pd.concat(fixed_bus_anal_frame)
#clean_busAnaly_df.shape
#(4092, 17)
#clean_busAnaly_df

In [9]:
DA_file = 'data/DataAnalyst.csv'
dataAnal_df = pd.read_csv(DA_file)
#dataAnal_df

In [10]:
clean_dataAnaly_df = dataAnal_df.drop(columns = "Unnamed: 0")
#clean_dataAnaly_df

In [11]:
DE_file = 'data/DataEngineer.csv'
dataEng_df = pd.read_csv(DE_file)
#no changes needed to this dataset, so setting name to "clean"
clean_dataEng_df = dataEng_df

In [12]:
DS_file = 'data/DataScientist.csv'
dataSci_df = pd.read_csv(DS_file)
#dataSci_df

In [13]:
clean_dataSci_df = dataSci_df.drop(columns = ["Unnamed: 0","index"])
#clean_dataSci_df

# next comments do here.

In [14]:
##  todo list
# get rid of "glassdoor" words in salary
# get rid of weird characters in company name
# join everything into giant table/df

In [15]:
# add job category to each DF
clean_dataSci_df["Job Category"] = "Data Science"
clean_dataEng_df["Job Category"] = "Data Engineer"
clean_dataAnaly_df["Job Category"] = "Data Analyst"
clean_busAnaly_df["Job Category"] = "Business Analyst"

In [16]:
print(clean_dataEng_df.columns)
print(clean_dataAnaly_df.columns)
print(clean_busAnaly_df.columns)
print(clean_dataSci_df.columns)

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Job Category'],
      dtype='object')
Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Job Category'],
      dtype='object')
Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Job Category'],
      dtype='object')
Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Job Category'],
      dtype='object')

In [17]:
frames = [clean_dataSci_df,clean_dataEng_df,clean_dataAnaly_df,clean_busAnaly_df]

In [18]:
combined_job_df = pd.concat(frames)
#combined_job_df

In [19]:
#combined_job_df['Salary Estimate'].unique()

In [20]:
#Humeras working code
combined_job_df['Company Name'] = combined_job_df['Company Name'].str.replace('\n','')

combined_job_df['Company Name'] = combined_job_df['Company Name'].str.replace('\d+', '')
#combined_job_df

In [21]:
# get rid of "glassdoor" words in salary
combined_job_df['Salary Estimate'] = clean_busAnaly_df['Salary Estimate'].str.replace('Glassdoor est.','')
combined_job_df['Salary Estimate'] = combined_job_df['Salary Estimate'].str.replace('[()]','')
#combined_job_df

In [22]:
# cjamg
combined_job_df['Rating'] = combined_job_df['Rating'].astype(float)
combined_job_df['Founded'] = combined_job_df['Founded'].astype(float)

In [23]:
#init variables for fetching lat/long
loc_list = combined_job_df['Location'].unique()
lat_dict = {}
long_dict = {}
base_url = 'https://nominatim.openstreetmap.org/search/'

In [24]:
len(loc_list)#404 distinct locations

404

# Call API to get Lat Long for each City
<this is a free API that doesn't need any keys.  It will take a moment to run>

In [25]:
for loc in loc_list:
    endOfurl= urllib.parse.quote(loc) +'?format=json'
    try:
        response = requests.get(base_url+endOfurl).json()
#        print(loc+"-"+response[0]["lat"]+"x") test output
        lat_dict[loc]=response[0]["lat"]
#         print(response[0]["lon"])  
        long_dict[loc]=response[0]["lon"]
    except:
        print(loc+" not found by API.")

Springhouse Branch Post Office, PA not found by API.

In [26]:
combined_job_df["Lat"]=combined_job_df["Location"].map(lat_dict).astype(float)
combined_job_df["Long"]=combined_job_df["Location"].map(long_dict).astype(float)

In [27]:
combined_job_df[combined_job_df["Lat"].isna()]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job Category,Lat,Long
1653,Scientist,$34K-$75K,Job Description\n\n\nJob #: 1076087\n\nApex is...,3.8,Apex Systems.,"Springhouse Branch Post Office, PA","Glen Allen, VA",1001 to 5000 employees,1995.0,Subsidiary or Business Segment,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"TEKsystems, Insight Global, Accenture",True,Data Science,NaN,NaN

In [28]:
#Rename columns to not have spaces:
combined_job_df.rename(columns = {
"Job Category":"JOB_CATEGORY",
"Job Title":"JOB_TITLE",
"Salary Estimate":"SALARY_ESTIMATE",
"Job Description":"JOB_DESCRIPTION",
"Rating":"RATING",
"Company Name":"COMPANY_NAME",
"Location":"LOCATION",
"Lat":"LAT",
"Long":"LONG",
"Headquarters":"HEADQUARTERS",
"Size":"SIZE",
"Founded":"FOUNDED",
"Type of ownership":"TYPE_OF_OWNERSHIP",
"Industry":"INDUSTRY",
"Sector":"SECTOR",
"Revenue":"REVENUE",
"Competitors":"COMPETITORS",
"Easy Apply":"EASY_APPLY"
}, inplace=True)

In [29]:
# combined_job_df = combined_job_df.reindex();
combined_job_df.head()

,JOB_TITLE,SALARY_ESTIMATE,JOB_DESCRIPTION,RATING,COMPANY_NAME,LOCATION,HEADQUARTERS,SIZE,FOUNDED,TYPE_OF_OWNERSHIP,INDUSTRY,SECTOR,REVENUE,COMPETITORS,EASY_APPLY,JOB_CATEGORY,LAT,LONG
0,Senior Data Scientist,$56K-$102K,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper.,"New York, NY","Montreal, Canada",501 to 1000 employees,2007.0,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,Data Science,40.712728,-74.006015
1,"Data Scientist, Product Analytics",$56K-$102K,"At Noom, we use scientifically proven methods ...",4.5,Noom US.,"New York, NY","New York, NY",1001 to 5000 employees,2008.0,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,Data Science,40.712728,-74.006015
2,Data Science Manager,$56K-$102K,Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1.0,Unknown,-1,-1,Unknown / Non-Applicable,-1,True,Data Science,40.712728,-74.006015
3,Data Analyst,$56K-$102K,Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital.,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,Data Science,40.812025,-74.124282
4,"Director, Data Science",$56K-$102K,"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group.,"New York, NY","New York, NY",51 to 200 employees,2007.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,Data Science,40.712728,-74.006015

In [30]:
# #reorder columns to match table
combined_job_df = combined_job_df.reindex(columns = ["JOB_CATEGORY",
"JOB_TITLE",
"SALARY_ESTIMATE",
"JOB_DESCRIPTION",
"RATING",
"COMPANY_NAME",
"LOCATION",
"LAT",
"LONG",
"HEADQUARTERS",
"SIZE",
"FOUNDED",
"TYPE_OF_OWNERSHIP",
"INDUSTRY",
"SECTOR",
"REVENUE",
"COMPETITORS",
"EASY_APPLY"])

In [31]:
#Seperating the minimum and maximum salaries 
combined_job_df['MIN_SALARY'] = combined_job_df.SALARY_ESTIMATE.str.split('-', expand=True)[0]
combined_job_df['MAX_SALARY'] = combined_job_df.SALARY_ESTIMATE.str.split('-', expand=True)[1]
combined_job_df

,JOB_CATEGORY,JOB_TITLE,SALARY_ESTIMATE,JOB_DESCRIPTION,RATING,COMPANY_NAME,LOCATION,LAT,LONG,HEADQUARTERS,SIZE,FOUNDED,TYPE_OF_OWNERSHIP,INDUSTRY,SECTOR,REVENUE,COMPETITORS,EASY_APPLY,MIN_SALARY,MAX_SALARY
0,Data Science,Senior Data Scientist,$56K-$102K,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper.,"New York, NY",40.712728,-74.006015,"Montreal, Canada",501 to 1000 employees,2007.0,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,$56K,$102K
1,Data Science,"Data Scientist, Product Analytics",$56K-$102K,"At Noom, we use scientifically proven methods ...",4.5,Noom US.,"New York, NY",40.712728,-74.006015,"New York, NY",1001 to 5000 employees,2008.0,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,$56K,$102K
2,Data Science,Data Science Manager,$56K-$102K,Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY",40.712728,-74.006015,"New York, NY",1 to 50 employees,-1.0,Unknown,-1,-1,Unknown / Non-Applicable,-1,True,$56K,$102K
3,Data Science,Data Analyst,$56K-$102K,Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital.,"Lyndhurst, NJ",40.812025,-74.124282,"Lyndhurst, NJ",201 to 500 employees,2019.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,$56K,$102K
4,Data Science,"Director, Data Science",$56K-$102K,"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group.,"New York, NY",40.712728,-74.006015,"New York, NY",51 to 200 employees,2007.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,$56K,$102K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,Business Analyst,Help Desk Analyst,$66K-$114K,Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half.,"Jacksonville, FL",30.332184,-81.655651,"Menlo Park, CA",10000+ employees,1948.0,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1,$66K,$114K
4088,Business Analyst,System Analyst (Data) - PL/SQl Server,$66K-$114K,Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx.,"Jacksonville, FL",30.332184,-81.655651,"Princeton, NJ",501 to 1000 employees,2002.0,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1,$66K,$114K
4089,Business Analyst,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K,Job Opening Summary\nReports to the Systems Ap...,4.0,Shands at the University of Florida.,"Jacksonville, FL",30.332184,-81.655651,"Gainesville, FL",10000+ employees,-1.0,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1,$66K,$114K
4090,Business Analyst,Loss Mitigation Analyst,$66K-$114K,Job Description\nA knowledgeable job-seeker is...,4.4,Contemporary Staffing Solutions.,"Jacksonville, FL",30.332184,-81.655651,"Mount Laurel, NJ",1001 to 5000 employees,1994.0,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1,$66K,$114K
4091,Business Analyst,Financial Analyst II - Baptist,$66K-$114K,Job Summary\n\nThis unique analyst position re...,2.7,Baptist Medical Center Jacksonville.,"Jacksonville, FL",30.332184,-81.655651,"Jacksonville, FL",5001 to 10000 employees,-1.0,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1,$66K,$114K

In [32]:
combined_job_df['MAX_SALARY'] = combined_job_df['MAX_SALARY'].replace(['$90KEmployer est.'], '$90K')
combined_job_df['MAX_SALARY'] = combined_job_df['MAX_SALARY'].str.replace('K', '000')
combined_job_df['MAX_SALARY'] = combined_job_df['MAX_SALARY'].str.replace('$', '')
combined_job_df['MAX_SALARY'] = combined_job_df['MAX_SALARY'].str.replace(' ', '')
combined_job_df['MAX_SALARY'].unique()

array(['102000', '78000', '159000', '135000', '82000', '92000', '85000',
       '131000', '103000', '95000', '100000', '88000', '160000', '90000',
       '120000', '134000', '118000', '151000', '186000', '79000', '68000',
       '64000', '81000', '73000', '111000', '77000', '97000', '80000',
       '128000', '87000', '86000', '84000', '96000', '75000', '66000',
       '52000', '146000', '53000', '67000', '124000', '99000', '61000',
       '91000', '123000', '69000', '70000', '133000', '54000', '107000',
       '138000', '139000', '58000', '206000', '188000', '140000', '74000',
       '59000', '65000', '63000', '48000', '126000', '112000', '168000',
       '144000', '172000', '76000', '106000', '116000', '136000',
       '119000', '163000', '152000', '226000', '127000', '71000',
       '161000', '98000', '130000', '94000', '60000', '104000', '57000',
       '109000', '110000', '105000', '114000'], dtype=object)

In [33]:
combined_job_df['MIN_SALARY'] = combined_job_df['MIN_SALARY'].str.replace('K', '000')
combined_job_df['MIN_SALARY'] = combined_job_df['MIN_SALARY'].str.replace('$', '')
combined_job_df['MIN_SALARY'] = combined_job_df['MIN_SALARY'].str.replace(' ', '')
combined_job_df['MIN_SALARY'].unique()
combined_job_df

,JOB_CATEGORY,JOB_TITLE,SALARY_ESTIMATE,JOB_DESCRIPTION,RATING,COMPANY_NAME,LOCATION,LAT,LONG,HEADQUARTERS,SIZE,FOUNDED,TYPE_OF_OWNERSHIP,INDUSTRY,SECTOR,REVENUE,COMPETITORS,EASY_APPLY,MIN_SALARY,MAX_SALARY
0,Data Science,Senior Data Scientist,$56K-$102K,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper.,"New York, NY",40.712728,-74.006015,"Montreal, Canada",501 to 1000 employees,2007.0,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,56000,102000
1,Data Science,"Data Scientist, Product Analytics",$56K-$102K,"At Noom, we use scientifically proven methods ...",4.5,Noom US.,"New York, NY",40.712728,-74.006015,"New York, NY",1001 to 5000 employees,2008.0,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,56000,102000
2,Data Science,Data Science Manager,$56K-$102K,Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY",40.712728,-74.006015,"New York, NY",1 to 50 employees,-1.0,Unknown,-1,-1,Unknown / Non-Applicable,-1,True,56000,102000
3,Data Science,Data Analyst,$56K-$102K,Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital.,"Lyndhurst, NJ",40.812025,-74.124282,"Lyndhurst, NJ",201 to 500 employees,2019.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,56000,102000
4,Data Science,"Director, Data Science",$56K-$102K,"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group.,"New York, NY",40.712728,-74.006015,"New York, NY",51 to 200 employees,2007.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,56000,102000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,Business Analyst,Help Desk Analyst,$66K-$114K,Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half.,"Jacksonville, FL",30.332184,-81.655651,"Menlo Park, CA",10000+ employees,1948.0,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1,66000,114000
4088,Business Analyst,System Analyst (Data) - PL/SQl Server,$66K-$114K,Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx.,"Jacksonville, FL",30.332184,-81.655651,"Princeton, NJ",501 to 1000 employees,2002.0,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1,66000,114000
4089,Business Analyst,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K,Job Opening Summary\nReports to the Systems Ap...,4.0,Shands at the University of Florida.,"Jacksonville, FL",30.332184,-81.655651,"Gainesville, FL",10000+ employees,-1.0,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1,66000,114000
4090,Business Analyst,Loss Mitigation Analyst,$66K-$114K,Job Description\nA knowledgeable job-seeker is...,4.4,Contemporary Staffing Solutions.,"Jacksonville, FL",30.332184,-81.655651,"Mount Laurel, NJ",1001 to 5000 employees,1994.0,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1,66000,114000
4091,Business Analyst,Financial Analyst II - Baptist,$66K-$114K,Job Summary\n\nThis unique analyst position re...,2.7,Baptist Medical Center Jacksonville.,"Jacksonville, FL",30.332184,-81.655651,"Jacksonville, FL",5001 to 10000 employees,-1.0,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1,66000,114000

In [34]:
combined_job_df['MIN_SALARY'] = combined_job_df['MIN_SALARY'].astype(float)
combined_job_df['MAX_SALARY'] = combined_job_df['MAX_SALARY'].astype(float)

combined_job_df.dtypes

JOB_CATEGORY          object
JOB_TITLE             object
SALARY_ESTIMATE       object
JOB_DESCRIPTION       object
RATING               float64
COMPANY_NAME          object
LOCATION              object
LAT                  float64
LONG                 float64
HEADQUARTERS          object
SIZE                  object
FOUNDED              float64
TYPE_OF_OWNERSHIP     object
INDUSTRY              object
SECTOR                object
REVENUE               object
COMPETITORS           object
EASY_APPLY            object
MIN_SALARY           float64
MAX_SALARY           float64
dtype: object

In [35]:
combined_job_df['AVERAGE_SALARY'] = combined_job_df[['MIN_SALARY','MAX_SALARY']].mean(axis=1)
combined_job_df

,JOB_CATEGORY,JOB_TITLE,SALARY_ESTIMATE,JOB_DESCRIPTION,RATING,COMPANY_NAME,LOCATION,LAT,LONG,HEADQUARTERS,...,FOUNDED,TYPE_OF_OWNERSHIP,INDUSTRY,SECTOR,REVENUE,COMPETITORS,EASY_APPLY,MIN_SALARY,MAX_SALARY,AVERAGE_SALARY
0,Data Science,Senior Data Scientist,$56K-$102K,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper.,"New York, NY",40.712728,-74.006015,"Montreal, Canada",...,2007.0,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,56000.0,102000.0,79000.0
1,Data Science,"Data Scientist, Product Analytics",$56K-$102K,"At Noom, we use scientifically proven methods ...",4.5,Noom US.,"New York, NY",40.712728,-74.006015,"New York, NY",...,2008.0,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,56000.0,102000.0,79000.0
2,Data Science,Data Science Manager,$56K-$102K,Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY",40.712728,-74.006015,"New York, NY",...,-1.0,Unknown,-1,-1,Unknown / Non-Applicable,-1,True,56000.0,102000.0,79000.0
3,Data Science,Data Analyst,$56K-$102K,Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital.,"Lyndhurst, NJ",40.812025,-74.124282,"Lyndhurst, NJ",...,2019.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,56000.0,102000.0,79000.0
4,Data Science,"Director, Data Science",$56K-$102K,"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group.,"New York, NY",40.712728,-74.006015,"New York, NY",...,2007.0,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,56000.0,102000.0,79000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,Business Analyst,Help Desk Analyst,$66K-$114K,Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half.,"Jacksonville, FL",30.332184,-81.655651,"Menlo Park, CA",...,1948.0,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1,66000.0,114000.0,90000.0
4088,Business Analyst,System Analyst (Data) - PL/SQl Server,$66K-$114K,Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx.,"Jacksonville, FL",30.332184,-81.655651,"Princeton, NJ",...,2002.0,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1,66000.0,114000.0,90000.0
4089,Business Analyst,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K,Job Opening Summary\nReports to the Systems Ap...,4.0,Shands at the University of Florida.,"Jacksonville, FL",30.332184,-81.655651,"Gainesville, FL",...,-1.0,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1,66000.0,114000.0,90000.0
4090,Business Analyst,Loss Mitigation Analyst,$66K-$114K,Job Description\nA knowledgeable job-seeker is...,4.4,Contemporary Staffing Solutions.,"Jacksonville, FL",30.332184,-81.655651,"Mount Laurel, NJ",...,1994.0,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1,66000.0,114000.0,90000.0
4091,Business Analyst,Financial Analyst II - Baptist,$66K-$114K,Job Summary\n\nThis unique analyst position re...,2.7,Baptist Medical Center Jacksonville.,"Jacksonville, FL",30.332184,-81.655651,"Jacksonville, FL",...,-1.0,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1,66000.0,114000.0,90000.0

# Load DF into DB

In [36]:
# user, pw and db are pulled from config.py

connection_string = f'postgresql://{username}:{password}@localhost:5432/{db}'
engine = create_engine(connection_string)
connection = engine.raw_connection()

In [37]:
# looking at tables in db
engine.table_names()

['combined', 'job_cat_count', 'data_jobs']

In [38]:
# loading df into db table
combined_job_df.to_sql(name='data_jobs', con=engine, if_exists='replace',index=False)#replace', index=True)

In [39]:
# looking at tables in db
engine.table_names()

['combined', 'job_cat_count', 'data_jobs']

In [40]:
#Add pk to table
engine.execute('alter table data_jobs add column JOB_ID SERIAL PRIMARY KEY')