# extract and transform data

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
#for fetching lat/long
import requests
import urllib.parse

#load to database
from config import username, password, db

In [ ]:
BA_file = 'data/BusinessAnalyst.csv'
busAnal_df = pd.read_csv(BA_file)
busAnal_df.shape
## notes

In [ ]:
###  remove "glassdoor est." words from Salary column
##things  go wrong at row 3693
# df.loc[1:3, :]
tophalf_df = busAnal_df.copy()
tophalf_df = tophalf_df.loc[0:3691, :]
#tophalf_df.head()
#busAnal_df.shape

In [ ]:

fixed_tophalf_df = tophalf_df.iloc[:,2:18]
#fixed_tophalf_df
#tophalf_df.shape

In [ ]:
fixed_bottomhalf_df = busAnal_df.copy()
fixed_bottomhalf_df = fixed_bottomhalf_df.loc[3692:, :]
#fixed_bottomhalf_df = busAnal_df.loc[3692:, :]
fixed_columnnames = fixed_tophalf_df.columns
#print(fixed_columnnames)
#fixed_bottomhalf_df

In [ ]:
fixed_bottomhalf_df = fixed_bottomhalf_df.rename(columns = {'Unnamed: 0':'Job Title',
                                                            'index':'Salary Estimate',
                                                            'Job Title':'Job Description',
                                                            'Salary Estimate':'Rating',
                                                            'Job Description':'Company Name',
                                                            'Rating':'Location',
                                                            'Company Name':'Headquarters',
                                                            'Location':'Size',
                                                            'Headquarters':'Founded',
                                                            'Size':'Type of ownership',
                                                            'Founded':'Industry',
                                                            'Type of ownership' : 'Sector',
                                                            'Industry':'Revenue',
                                                            'Sector':'Competitors',
                                                            'Revenue':'Easy Apply',
                                                            'Competitors':'delete1'
                                                            , 'Easy Apply':'delete2'})
fixed_bottomhalf_df = fixed_bottomhalf_df.drop(columns = ['delete1', 'delete2'])
#fixed_bottomhalf_df

In [ ]:
# fixed_bottomhalf_df.columns=fixed_columnnames
print(fixed_bottomhalf_df.shape)
print(fixed_tophalf_df.shape)
#fixed_tophalf_df

In [ ]:
#clean_busAnaly_df = fixed_tophalf_df.merge()
#busAnal_df.loc[3692:, :]
fixed_bus_anal_frame = [fixed_tophalf_df,fixed_bottomhalf_df]
clean_busAnaly_df  = pd.concat(fixed_bus_anal_frame)
#clean_busAnaly_df.shape
#(4092, 17)
#clean_busAnaly_df

In [ ]:
DA_file = 'data/DataAnalyst.csv'
dataAnal_df = pd.read_csv(DA_file)
#dataAnal_df

In [ ]:
clean_dataAnaly_df = dataAnal_df.drop(columns = "Unnamed: 0")
#clean_dataAnaly_df

In [ ]:
DE_file = 'data/DataEngineer.csv'
dataEng_df = pd.read_csv(DE_file)
#no changes needed to this dataset, so setting name to "clean"
clean_dataEng_df = dataEng_df

In [ ]:
DS_file = 'data/DataScientist.csv'
dataSci_df = pd.read_csv(DS_file)
#dataSci_df

In [ ]:
clean_dataSci_df = dataSci_df.drop(columns = ["Unnamed: 0","index"])
#clean_dataSci_df

# next comments do here.

In [ ]:
##  todo list
# get rid of "glassdoor" words in salary
# get rid of weird characters in company name
# join everything into giant table/df

In [ ]:
# add job category to each DF
clean_dataSci_df["Job Category"] = "Data Science"
clean_dataEng_df["Job Category"] = "Data Engineer"
clean_dataAnaly_df["Job Category"] = "Data Analyst"
clean_busAnaly_df["Job Category"] = "Business Analyst"

In [ ]:
print(clean_dataEng_df.columns)
print(clean_dataAnaly_df.columns)
print(clean_busAnaly_df.columns)
print(clean_dataSci_df.columns)

In [ ]:
frames = [clean_dataSci_df,clean_dataEng_df,clean_dataAnaly_df,clean_busAnaly_df]

In [ ]:
combined_job_df = pd.concat(frames)
#combined_job_df

In [ ]:
#combined_job_df['Salary Estimate'].unique()

In [ ]:
#Humeras working code
combined_job_df['Company Name'] = combined_job_df['Company Name'].str.replace('\n','')

combined_job_df['Company Name'] = combined_job_df['Company Name'].str.replace('\d+', '')
#combined_job_df

In [ ]:
# get rid of "glassdoor" words in salary
combined_job_df['Salary Estimate'] = clean_busAnaly_df['Salary Estimate'].str.replace('Glassdoor est.','')
combined_job_df['Salary Estimate'] = combined_job_df['Salary Estimate'].str.replace('[()]','')
#combined_job_df

In [ ]:
# cjamg
combined_job_df['Rating'] = combined_job_df['Rating'].astype(float)
combined_job_df['Founded'] = combined_job_df['Founded'].astype(float)

In [ ]:
#init variables for fetching lat/long
loc_list = combined_job_df['Location'].unique()
lat_dict = {}
long_dict = {}
base_url = 'https://nominatim.openstreetmap.org/search/'

In [ ]:
len(loc_list)#404

In [ ]:
for loc in loc_list:
    endOfurl= urllib.parse.quote(loc) +'?format=json'
#    print(base_url+endOfurl)
#     break
    try:
        response = requests.get(base_url+endOfurl).json()
#        print(loc+"-"+response[0]["lat"]+"x")
        lat_dict[loc]=response[0]["lat"]
#         print(response[0]["lon"])
        long_dict[loc]=response[0]["lon"]
#         break
#         combined_job_df['Lat'] =  np.where(combined_job_df.Location == loc,response[0]["lat"],"")
#        print(loc)
    except:
        print(loc+" not found by API.")
    
#     print(response[0]["lat"])
#     print(response[0]["lon"])
#        break

In [ ]:
#combined_job_df["Lat"]=""
#long_dict
#long_dict["Boothwyn, PA"]

In [ ]:
combined_job_df["Lat"]=combined_job_df["Location"].map(lat_dict)
combined_job_df["Long"]=combined_job_df["Location"].map(long_dict)

In [ ]:
combined_job_df[combined_job_df["Lat"].isna()]

In [ ]:
# username = 'postgres'  # Ideally this would come from config.py (or similar)
# password = 'asdf'  # Ideally this would come from config.py (or similar)
# db = 'DataJobs' # Created in Week 9, Night 1, Exercise 08-Stu_CRUD 

connection_string = f'postgresql://{username}:{password}@localhost:5432/{db}'
engine = create_engine(connection_string)
connection = engine.raw_connection()

In [ ]:
# add primary key to table
# with engine.connect() as con:
#     con.execute('ALTER TABLE `example_table` ADD PRIMARY KEY (`ID_column`);')

In [ ]:
cursor = connection.cursor();
engine.execute("DROP TABLE IF EXISTS data_jobs;")
print(engine.table_names())
create_table = '''create table data_jobs
(INDEX SERIAL PRIMARY KEY,
 JOB_CATEGORY VARCHAR NOT NULL,
 JOB_TITLE VARCHAR NOT NULL,
 SALARY_ESTIMATE VARCHAR NOT NULL,
 JOB_DESCRIPTION VARCHAR,
 RATING FLOAT,
 COMPANY_NAME VARCHAR,
 LOCATION VARCHAR,
 HEADQUARTERS VARCHAR,
 SIZE VARCHAR,
 FOUNDED FLOAT,
 TYPE_OF_OWNERSHIP VARCHAR,
 INDUSTRY VARCHAR,
 SECTOR VARCHAR,
 REVENUE VARCHAR,
 COMPETITORS VARCHAR,
 EASY_APPLY VARCHAR
)'''
engine.execute(create_table)
print('table created successfully')

In [ ]:
# looking at tables in db
engine.table_names()

In [ ]:
# loading df into db table
combined_job_df.to_sql(name='data_jobs', con=engine, if_exists='append', index=True)