# extract and transform data

In [24]:
import pandas as pd
from sqlalchemy import create_engine

In [25]:
BA_file = 'data/BusinessAnalyst.csv'
busAnal_df = pd.read_csv(BA_file)
busAnal_df.shape
## notes

(4092, 17)

In [26]:
###  remove "glassdoor est." words from Salary column
##things  go wrong at row 3693
# df.loc[1:3, :]
tophalf_df = busAnal_df.copy()
tophalf_df = tophalf_df.loc[0:3691, :]
tophalf_df.head()
#busAnal_df.shape

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),Company Overview\r\n\r\n\r\nAt Memorial Sloan ...,3.9,Memorial Sloan-Kettering\r\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1
1,1,1,Business Analyst,$56K-$102K (Glassdoor est.),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\r\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,True
2,2,2,Data Analyst,$56K-$102K (Glassdoor est.),"For more than a decade, Asembia has been worki...",3.6,Asembia\r\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1
3,3,3,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),Job Description Summary\r\nThe Information Sec...,3.6,BD\r\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1
4,4,4,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),Magnite is the world's largest independent sel...,3.4,Rubicon Project\r\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",True

In [27]:

fixed_tophalf_df = tophalf_df.iloc[:,2:18]
fixed_tophalf_df
#tophalf_df.shape

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),Company Overview\r\n\r\n\r\nAt Memorial Sloan ...,3.9,Memorial Sloan-Kettering\r\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1
1,Business Analyst,$56K-$102K (Glassdoor est.),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\r\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,True
2,Data Analyst,$56K-$102K (Glassdoor est.),"For more than a decade, Asembia has been worki...",3.6,Asembia\r\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1
3,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),Job Description Summary\r\nThe Information Sec...,3.6,BD\r\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1
4,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),Magnite is the world's largest independent sel...,3.4,Rubicon Project\r\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,Pega Business Analyst,$58K-$103K (Glassdoor est.),• 5 yrs relevant experience in:- Experience wi...,3.1,Tista Science and Technology Corporation\r\n3.1,"Austin, TX","Rockville, MD",501 to 1000 employees,2005,Company - Private,Consulting,Business Services,$5 to $10 million (USD),-1,-1
3688,Jr.Business Analyst,$58K-$103K (Glassdoor est.),Job Description\r\n\r\nNew businesses are maki...,5.0,"Staffigo Technical Services, LLC\r\n5.0","Austin, TX","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
3689,Business Process Analyst/Remote 4 mth+ contract,$58K-$103K (Glassdoor est.),Title: Business Process Analyst\r\nDuration: 4...,-1.0,"Suncap Technology, Inc.","Austin, TX",-1,-1,-1,-1,-1,-1,-1,-1,-1
3690,"AVP, Business System",$58K-$103K (Glassdoor est.),We are looking for a AVP Business System Analy...,3.5,LPL Financial\r\n3.5,"Austin, TX","Boston, MA",1001 to 5000 employees,1968,Company - Public,Investment Banking & Asset Management,Finance,$2 to $5 billion (USD),"Fidelity Investments, UBS, Morgan Stanley",-1
3691,DPS - LS - Cyber Risk & Vulnerability Analyst,$58K-$103K (Glassdoor est.),DPS - LS - Cyber Risk & Vulnerability Analyst ...,3.4,TEXAS DEPARTMENT OF PUBLIC SAFETY\r\n3.4,"Austin, TX","Austin, TX",1001 to 5000 employees,-1,Government,Municipal Governments,Government,Unknown / Non-Applicable,-1,-1

In [28]:
fixed_bottomhalf_df = busAnal_df.copy()
fixed_bottomhalf_df = fixed_bottomhalf_df.loc[3692:, :]
#fixed_bottomhalf_df = busAnal_df.loc[3692:, :]
fixed_columnnames = fixed_tophalf_df.columns
#print(fixed_columnnames)
fixed_bottomhalf_df

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
3692,Business Analyst - Loan IQ Specialist,$50K-$78K (Glassdoor est.),Business Analyst - Loan IQ Specialist\r\n\r\n\...,3.3,Macquarie Group\r\n3.3,"Jacksonville, FL","Sydney, Australia",10000+ employees,1969,Company - Public,Investment Banking & Asset Management,Finance,$5 to $10 billion (USD),"Goldman Sachs, Commonwealth Bank of Australia,...",-1,NaN,NaN
3693,Procure to Pay Analyst,$50K-$78K (Glassdoor est.),Job Summary\r\n\r\nWorks daily to resolve comp...,2.3,CSX\r\n2.3,"Jacksonville, FL","Jacksonville, FL",10000+ employees,1978,Company - Public,Transportation Management,Transportation & Logistics,$10+ billion (USD),"Union Pacific, BNSF Railway",-1,NaN,NaN
3694,Payroll Analyst,$50K-$78K (Glassdoor est.),Job Summary\r\nSupports the Train and Engine (...,2.3,CSX\r\n2.3,"Jacksonville, FL","Jacksonville, FL",10000+ employees,1978,Company - Public,Transportation Management,Transportation & Logistics,$10+ billion (USD),"Union Pacific, BNSF Railway",-1,NaN,NaN
3695,Software Quality Assurance Analyst,$50K-$78K (Glassdoor est.),SUMMARY\r\n\r\nThe Software Quality Assurance ...,3.9,AdTheorent\r\n3.9,"Jacksonville, FL","New York, NY",201 to 500 employees,2011,Company - Private,Advertising & Marketing,Business Services,$100 to $500 million (USD),-1,-1,NaN,NaN
3696,Senior Support Analyst,$50K-$78K (Glassdoor est.),Vacancy Name Senior Support Analyst\r\nVacancy...,3.2,SmartStream Technologies\r\n3.2,"Jacksonville, FL","London, United Kingdom",501 to 1000 employees,2000,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,Help Desk Analyst,$66K-$114K (Glassdoor est.),Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half\r\n3.5,"Jacksonville, FL","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1,NaN,NaN
4088,System Analyst (Data) - PL/SQl Server,$66K-$114K (Glassdoor est.),Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx\r\n3.9,"Jacksonville, FL","Princeton, NJ",501 to 1000 employees,2002,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1,NaN,NaN
4089,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K (Glassdoor est.),Job Opening Summary\r\nReports to the Systems ...,4.0,Shands at the University of Florida\r\n4.0,"Jacksonville, FL","Gainesville, FL",10000+ employees,-1,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1,NaN,NaN
4090,Loss Mitigation Analyst,$66K-$114K (Glassdoor est.),Job Description\r\nA knowledgeable job-seeker ...,4.4,Contemporary Staffing Solutions\r\n4.4,"Jacksonville, FL","Mount Laurel, NJ",1001 to 5000 employees,1994,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1,NaN,NaN
4091,Financial Analyst II - Baptist,$66K-$114K (Glassdoor est.),Job Summary\r\n\r\nThis unique analyst positio...,2.7,Baptist Medical Center Jacksonville\r\n2.7,"Jacksonville, FL","Jacksonville, FL",5001 to 10000 employees,-1,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1,NaN,NaN

In [29]:
fixed_bottomhalf_df = fixed_bottomhalf_df.rename(columns = {'Unnamed: 0':'Job Title',
                                                            'index':'Salary Estimate',
                                                            'Job Title':'Job Description',
                                                            'Salary Estimate':'Rating',
                                                            'Job Description':'Company Name',
                                                            'Rating':'Location',
                                                            'Company Name':'Headquarters',
                                                            'Location':'Size',
                                                            'Headquarters':'Founded',
                                                            'Size':'Type of ownership',
                                                            'Founded':'Industry',
                                                            'Type of ownership' : 'Sector',
                                                            'Industry':'Revenue',
                                                            'Sector':'Competitors',
                                                            'Revenue':'Easy Apply',
                                                            'Competitors':'delete1'
                                                            , 'Easy Apply':'delete2'})
fixed_bottomhalf_df = fixed_bottomhalf_df.drop(columns = ['delete1', 'delete2'])
fixed_bottomhalf_df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
3692,Business Analyst - Loan IQ Specialist,$50K-$78K (Glassdoor est.),Business Analyst - Loan IQ Specialist\r\n\r\n\...,3.3,Macquarie Group\r\n3.3,"Jacksonville, FL","Sydney, Australia",10000+ employees,1969,Company - Public,Investment Banking & Asset Management,Finance,$5 to $10 billion (USD),"Goldman Sachs, Commonwealth Bank of Australia,...",-1
3693,Procure to Pay Analyst,$50K-$78K (Glassdoor est.),Job Summary\r\n\r\nWorks daily to resolve comp...,2.3,CSX\r\n2.3,"Jacksonville, FL","Jacksonville, FL",10000+ employees,1978,Company - Public,Transportation Management,Transportation & Logistics,$10+ billion (USD),"Union Pacific, BNSF Railway",-1
3694,Payroll Analyst,$50K-$78K (Glassdoor est.),Job Summary\r\nSupports the Train and Engine (...,2.3,CSX\r\n2.3,"Jacksonville, FL","Jacksonville, FL",10000+ employees,1978,Company - Public,Transportation Management,Transportation & Logistics,$10+ billion (USD),"Union Pacific, BNSF Railway",-1
3695,Software Quality Assurance Analyst,$50K-$78K (Glassdoor est.),SUMMARY\r\n\r\nThe Software Quality Assurance ...,3.9,AdTheorent\r\n3.9,"Jacksonville, FL","New York, NY",201 to 500 employees,2011,Company - Private,Advertising & Marketing,Business Services,$100 to $500 million (USD),-1,-1
3696,Senior Support Analyst,$50K-$78K (Glassdoor est.),Vacancy Name Senior Support Analyst\r\nVacancy...,3.2,SmartStream Technologies\r\n3.2,"Jacksonville, FL","London, United Kingdom",501 to 1000 employees,2000,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,Help Desk Analyst,$66K-$114K (Glassdoor est.),Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half\r\n3.5,"Jacksonville, FL","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1
4088,System Analyst (Data) - PL/SQl Server,$66K-$114K (Glassdoor est.),Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx\r\n3.9,"Jacksonville, FL","Princeton, NJ",501 to 1000 employees,2002,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1
4089,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K (Glassdoor est.),Job Opening Summary\r\nReports to the Systems ...,4.0,Shands at the University of Florida\r\n4.0,"Jacksonville, FL","Gainesville, FL",10000+ employees,-1,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1
4090,Loss Mitigation Analyst,$66K-$114K (Glassdoor est.),Job Description\r\nA knowledgeable job-seeker ...,4.4,Contemporary Staffing Solutions\r\n4.4,"Jacksonville, FL","Mount Laurel, NJ",1001 to 5000 employees,1994,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1
4091,Financial Analyst II - Baptist,$66K-$114K (Glassdoor est.),Job Summary\r\n\r\nThis unique analyst positio...,2.7,Baptist Medical Center Jacksonville\r\n2.7,"Jacksonville, FL","Jacksonville, FL",5001 to 10000 employees,-1,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1

In [30]:
# fixed_bottomhalf_df.columns=fixed_columnnames
print(fixed_bottomhalf_df.shape)
print(fixed_tophalf_df.shape)
fixed_tophalf_df

(400, 15)
(3692, 15)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),Company Overview\r\n\r\n\r\nAt Memorial Sloan ...,3.9,Memorial Sloan-Kettering\r\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1
1,Business Analyst,$56K-$102K (Glassdoor est.),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\r\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,True
2,Data Analyst,$56K-$102K (Glassdoor est.),"For more than a decade, Asembia has been worki...",3.6,Asembia\r\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1
3,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),Job Description Summary\r\nThe Information Sec...,3.6,BD\r\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1
4,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),Magnite is the world's largest independent sel...,3.4,Rubicon Project\r\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,Pega Business Analyst,$58K-$103K (Glassdoor est.),• 5 yrs relevant experience in:- Experience wi...,3.1,Tista Science and Technology Corporation\r\n3.1,"Austin, TX","Rockville, MD",501 to 1000 employees,2005,Company - Private,Consulting,Business Services,$5 to $10 million (USD),-1,-1
3688,Jr.Business Analyst,$58K-$103K (Glassdoor est.),Job Description\r\n\r\nNew businesses are maki...,5.0,"Staffigo Technical Services, LLC\r\n5.0","Austin, TX","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
3689,Business Process Analyst/Remote 4 mth+ contract,$58K-$103K (Glassdoor est.),Title: Business Process Analyst\r\nDuration: 4...,-1.0,"Suncap Technology, Inc.","Austin, TX",-1,-1,-1,-1,-1,-1,-1,-1,-1
3690,"AVP, Business System",$58K-$103K (Glassdoor est.),We are looking for a AVP Business System Analy...,3.5,LPL Financial\r\n3.5,"Austin, TX","Boston, MA",1001 to 5000 employees,1968,Company - Public,Investment Banking & Asset Management,Finance,$2 to $5 billion (USD),"Fidelity Investments, UBS, Morgan Stanley",-1
3691,DPS - LS - Cyber Risk & Vulnerability Analyst,$58K-$103K (Glassdoor est.),DPS - LS - Cyber Risk & Vulnerability Analyst ...,3.4,TEXAS DEPARTMENT OF PUBLIC SAFETY\r\n3.4,"Austin, TX","Austin, TX",1001 to 5000 employees,-1,Government,Municipal Governments,Government,Unknown / Non-Applicable,-1,-1

In [31]:
#clean_busAnaly_df = fixed_tophalf_df.merge()
#busAnal_df.loc[3692:, :]
fixed_bus_anal_frame = [fixed_tophalf_df,fixed_bottomhalf_df]
clean_busAnaly_df  = pd.concat(fixed_bus_anal_frame)
#clean_busAnaly_df.shape
#(4092, 17)
clean_busAnaly_df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),Company Overview\r\n\r\n\r\nAt Memorial Sloan ...,3.9,Memorial Sloan-Kettering\r\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1
1,Business Analyst,$56K-$102K (Glassdoor est.),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\r\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,True
2,Data Analyst,$56K-$102K (Glassdoor est.),"For more than a decade, Asembia has been worki...",3.6,Asembia\r\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1
3,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),Job Description Summary\r\nThe Information Sec...,3.6,BD\r\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1
4,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),Magnite is the world's largest independent sel...,3.4,Rubicon Project\r\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,Help Desk Analyst,$66K-$114K (Glassdoor est.),Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half\r\n3.5,"Jacksonville, FL","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1
4088,System Analyst (Data) - PL/SQl Server,$66K-$114K (Glassdoor est.),Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx\r\n3.9,"Jacksonville, FL","Princeton, NJ",501 to 1000 employees,2002,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1
4089,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K (Glassdoor est.),Job Opening Summary\r\nReports to the Systems ...,4.0,Shands at the University of Florida\r\n4.0,"Jacksonville, FL","Gainesville, FL",10000+ employees,-1,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1
4090,Loss Mitigation Analyst,$66K-$114K (Glassdoor est.),Job Description\r\nA knowledgeable job-seeker ...,4.4,Contemporary Staffing Solutions\r\n4.4,"Jacksonville, FL","Mount Laurel, NJ",1001 to 5000 employees,1994,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1
4091,Financial Analyst II - Baptist,$66K-$114K (Glassdoor est.),Job Summary\r\n\r\nThis unique analyst positio...,2.7,Baptist Medical Center Jacksonville\r\n2.7,"Jacksonville, FL","Jacksonville, FL",5001 to 10000 employees,-1,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1

In [32]:
DA_file = 'data/DataAnalyst.csv'
dataAnal_df = pd.read_csv(DA_file)
dataAnal_df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\r\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\r\n\r\nProvides analytical and techni...,3.8,Visiting Nurse Service of New York\r\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\r\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\r\nRemote:Yes\r\n...,4.1,Celerity\r\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\r\n\r\nFanDuel Group is a ...,3.9,FanDuel\r\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\r\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\r\nSenior Data Analyst (Corporate Au...,2.9,Arrow Electronics\r\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\r\n\r\nResponsible for working cross-f...,3.1,Contingent Network Services\r\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\r\n\r\nYou bring your body, mind, heart a...",3.4,SCL Health\r\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [33]:
clean_dataAnaly_df = dataAnal_df.drop(columns = "Unnamed: 0")
clean_dataAnaly_df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\r\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\r\n\r\nProvides analytical and techni...,3.8,Visiting Nurse Service of New York\r\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\r\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\r\nRemote:Yes\r\n...,4.1,Celerity\r\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\r\n\r\nFanDuel Group is a ...,3.9,FanDuel\r\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\r\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\r\nSenior Data Analyst (Corporate Au...,2.9,Arrow Electronics\r\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\r\n\r\nResponsible for working cross-f...,3.1,Contingent Network Services\r\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\r\n\r\nYou bring your body, mind, heart a...",3.4,SCL Health\r\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [34]:
DE_file = 'data/DataEngineer.csv'
dataEng_df = pd.read_csv(DE_file)
#no changes needed to this dataset, so setting name to "clean"
clean_dataEng_df = dataEng_df

In [35]:
DS_file = 'data/DataScientist.csv'
dataSci_df = pd.read_csv(DS_file)
dataSci_df

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\r\n\r\nAt Hopper, we’re on a miss...",3.5,Hopper\r\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\r\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\r\n\r\nhttps://www.decode-m.com/\r\n\...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\r\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\r\nDescripti...",3.4,United Entertainment Group\r\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3904,3904,4375,AWS Data Engineer,$55K-$112K (Glassdoor est.),About Us\r\n\r\nTachyon Technologies is a Digi...,4.4,Tachyon Technologies\r\n4.4,"Dublin, OH","Irving, TX",201 to 500 employees,2011,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1,-1
3905,3905,4376,Data Analyst â Junior,$55K-$112K (Glassdoor est.),"Job description\r\nInterpret data, analyze res...",5.0,"Staffigo Technical Services, LLC\r\n5.0","Columbus, OH","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
3906,3906,4377,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),Job DescriptionThe Security Analytics Data Eng...,3.8,"PDS Tech, Inc.\r\n3.8","Dublin, OH","Irving, TX",5001 to 10000 employees,1977,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),-1,-1
3907,3907,4378,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),The Security Analytics Data Engineer will inte...,4.0,Data Resource Technologies\r\n4.0,"Dublin, OH","Omaha, NE",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1,-1
3908,3908,4379,Patient Safety Physician or Safety Scientist -...,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\r\nAt UCB, ...",3.7,UCB\r\n3.7,"Slough, OH","Brussel, Belgium",5001 to 10000 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),AbbVie,-1

In [36]:
clean_dataSci_df = dataSci_df.drop(columns = ["Unnamed: 0","index"])
clean_dataSci_df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\r\n\r\nAt Hopper, we’re on a miss...",3.5,Hopper\r\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\r\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\r\n\r\nhttps://www.decode-m.com/\r\n\...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True
3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\r\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\r\nDescripti...",3.4,United Entertainment Group\r\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3904,AWS Data Engineer,$55K-$112K (Glassdoor est.),About Us\r\n\r\nTachyon Technologies is a Digi...,4.4,Tachyon Technologies\r\n4.4,"Dublin, OH","Irving, TX",201 to 500 employees,2011,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1,-1
3905,Data Analyst â Junior,$55K-$112K (Glassdoor est.),"Job description\r\nInterpret data, analyze res...",5.0,"Staffigo Technical Services, LLC\r\n5.0","Columbus, OH","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
3906,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),Job DescriptionThe Security Analytics Data Eng...,3.8,"PDS Tech, Inc.\r\n3.8","Dublin, OH","Irving, TX",5001 to 10000 employees,1977,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),-1,-1
3907,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),The Security Analytics Data Engineer will inte...,4.0,Data Resource Technologies\r\n4.0,"Dublin, OH","Omaha, NE",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1,-1
3908,Patient Safety Physician or Safety Scientist -...,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\r\nAt UCB, ...",3.7,UCB\r\n3.7,"Slough, OH","Brussel, Belgium",5001 to 10000 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),AbbVie,-1

# next comments do here.

In [37]:
##  todo list
# get rid of "glassdoor" words in salary
# get rid of weird characters in company name
# join everything into giant table/df

In [38]:
# add job category to each DF
clean_dataSci_df["Job Category"] = "Data Science"
clean_dataEng_df["Job Category"] = "Data Engineer"
clean_dataAnaly_df["Job Category"] = "Data Analyst"
clean_busAnaly_df["Job Category"] = "Business Analyst"

In [39]:
print(clean_dataEng_df.columns)
print(clean_dataAnaly_df.columns)
print(clean_busAnaly_df.columns)
print(clean_dataSci_df.columns)

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Job Category'],
      dtype='object')
Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Job Category'],
      dtype='object')
Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Job Category'],
      dtype='object')
Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Job Category'],
      dtype='object')

In [40]:
frames = [clean_dataSci_df,clean_dataEng_df,clean_dataAnaly_df,clean_busAnaly_df]

In [41]:
combined_job_df = pd.concat(frames)
combined_job_df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job Category
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\r\n\r\nAt Hopper, we’re on a miss...",3.5,Hopper\r\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,Data Science
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\r\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,Data Science
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\r\n\r\nhttps://www.decode-m.com/\r\n\...,-1,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True,Data Science
3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\r\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,Data Science
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\r\nDescripti...",3.4,United Entertainment Group\r\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,Data Science
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,Help Desk Analyst,$66K-$114K (Glassdoor est.),Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half\r\n3.5,"Jacksonville, FL","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1,Business Analyst
4088,System Analyst (Data) - PL/SQl Server,$66K-$114K (Glassdoor est.),Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx\r\n3.9,"Jacksonville, FL","Princeton, NJ",501 to 1000 employees,2002,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1,Business Analyst
4089,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K (Glassdoor est.),Job Opening Summary\r\nReports to the Systems ...,4.0,Shands at the University of Florida\r\n4.0,"Jacksonville, FL","Gainesville, FL",10000+ employees,-1,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1,Business Analyst
4090,Loss Mitigation Analyst,$66K-$114K (Glassdoor est.),Job Description\r\nA knowledgeable job-seeker ...,4.4,Contemporary Staffing Solutions\r\n4.4,"Jacksonville, FL","Mount Laurel, NJ",1001 to 5000 employees,1994,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1,Business Analyst
4091,Financial Analyst II - Baptist,$66K-$114K (Glassdoor est.),Job Summary\r\n\r\nThis unique analyst positio...,2.7,Baptist Medical Center Jacksonville\r\n2.7,"Jacksonville, FL","Jacksonville, FL",5001 to 10000 employees,-1,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1,Business Analyst

In [42]:
combined_job_df['Salary Estimate'].unique()

array(['$111K-$181K (Glassdoor est.)', '$120K-$140K (Glassdoor est.)',
       '$119K-$147K (Glassdoor est.)', '$74K-$124K (Glassdoor est.)',
       '$102K-$121K (Glassdoor est.)', '$129K-$210K (Glassdoor est.)',
       '$156K-$254K (Glassdoor est.)', '$116K-$152K (Glassdoor est.)',
       '$133K-$171K (Glassdoor est.)', '$110K-$139K (Glassdoor est.)',
       '$82K-$141K (Glassdoor est.)', '$96K-$119K (Glassdoor est.)',
       '$146K-$175K (Glassdoor est.)', '$102K-$164K (Glassdoor est.)',
       '$113K-$180K (Glassdoor est.)', '$76K-$122K (Glassdoor est.)',
       '$134K-$218K (Glassdoor est.)', '$76K-$125K (Glassdoor est.)',
       '$132K-$208K (Glassdoor est.)', '$83K-$105K (Glassdoor est.)',
       '$75K-$143K (Glassdoor est.)', '$34K-$72K (Glassdoor est.)',
       '$37K-$75K (Glassdoor est.)', '$113K-$184K (Glassdoor est.)',
       '$136K-$164K (Glassdoor est.)', '$34-$53 Per Hour(Glassdoor est.)',
       '$46K-$80K (Glassdoor est.)', '$79K-$130K (Glassdoor est.)',
       '$91K-$105K (Glassdoor est.)', '$31K-$56K (Glassdoor est.)',
       '$39K-$81K (Glassdoor est.)', '$99K-$174K (Glassdoor est.)',
       '$76K-$147K (Glassdoor est.)', '$62K-$109K (Glassdoor est.)',
       '$70K-$123K (Glassdoor est.)', '$40K-$73K (Glassdoor est.)',
       '$38K-$59K (Glassdoor est.)', '$60K-$105K (Glassdoor est.)',
       '$69K-$144K (Glassdoor est.)', '$47K-$82K (Glassdoor est.)',
       '$90K-$175K (Glassdoor est.)', '$39K-$87K (Glassdoor est.)',
       '$36K-$71K (Glassdoor est.)', '$55K-$117K (Glassdoor est.)',
       '$114K-$144K (Glassdoor est.)', '$138K-$217K (Glassdoor est.)',
       '$72K-$97K (Glassdoor est.)', '$73K-$136K (Glassdoor est.)',
       '$10-$26 Per Hour(Glassdoor est.)', '$94K-$151K (Glassdoor est.)',
       '$97K-$159K (Glassdoor est.)', '$46K-$104K (Glassdoor est.)',
       '$45K-$81K (Glassdoor est.)', '$92K-$144K (Glassdoor est.)',
       '$64K-$97K (Glassdoor est.)', '$47K-$73K (Glassdoor est.)',
       '$84K-$156K (Glassdoor est.)', '$97K-$111K (Glassdoor est.)',
       '$84K-$101K (Glassdoor est.)', '$99K-$173K (Glassdoor est.)',
       '$93K-$151K (Glassdoor est.)', '$50K-$87K (Glassdoor est.)',
       '$71K-$117K (Glassdoor est.)', '$44K-$80K (Glassdoor est.)',
       '$94K-$166K (Glassdoor est.)', '$65K-$100K (Glassdoor est.)',
       '$41K-$74K (Glassdoor est.)', '$46K-$83K (Glassdoor est.)',
       '$45K-$106K (Glassdoor est.)', '$71K-$122K (Glassdoor est.)',
       '$143K-$237K (Glassdoor est.)', '$70K-$154K (Glassdoor est.)',
       '$68K-$89K (Glassdoor est.)', '$55K-$101K (Glassdoor est.)',
       '$98K-$152K (Glassdoor est.)', '$54K-$92K (Glassdoor est.)',
       '$74K-$140K (Glassdoor est.)', '$83K-$154K (Glassdoor est.)',
       '$52K-$91K (Glassdoor est.)', '$43K-$76K (Glassdoor est.)',
       '$17-$27 Per Hour(Glassdoor est.)', '$114K-$146K (Glassdoor est.)',
       '$60K-$124K (Glassdoor est.)', '$46K-$82K (Glassdoor est.)',
       '$83K-$165K (Glassdoor est.)', '$39K-$69K (Glassdoor est.)',
       '$88K-$140K (Glassdoor est.)', '$74K-$129K (Glassdoor est.)',
       '$114K-$211K (Glassdoor est.)', '$75K-$149K (Glassdoor est.)',
       '$112K-$211K (Glassdoor est.)', '$62K-$127K (Glassdoor est.)',
       '$86K-$178K (Glassdoor est.)', '$110K-$169K (Glassdoor est.)',
       '$12K-$112K (Glassdoor est.)', '$12K-$111K (Glassdoor est.)',
       '$134K-$210K (Glassdoor est.)', '$49K-$78K (Glassdoor est.)',
       '$48K-$98K (Glassdoor est.)', '$85K-$159K (Glassdoor est.)',
       '$51K-$79K (Glassdoor est.)', '$49K-$92K (Glassdoor est.)',
       '$85K-$147K (Glassdoor est.)', '$45K-$78K (Glassdoor est.)',
       '$48K-$89K (Glassdoor est.)', '$46K-$91K (Glassdoor est.)',
       '$73K-$102K (Glassdoor est.)', '$100K-$172K (Glassdoor est.)',
       '$93K-$149K (Glassdoor est.)', '$148K-$174K (Glassdoor est.)',
       '$111K-$175K (Glassdoor est.)', '$150K-$237K (Glassdoor est.)',
       '$200K-$250K(Employer est.)', '$135K-$214K (Glassdoor est.)',
       '$119K-$188K (Glassdoor est.)', '$145K-$176K (Glassdoor est.)',
       '$150K-$169K (Glassdoor est.)', '$121K-$192K (Glassdoor est.)',
       '$141K-$225K (Glassdoor est.)', '$102K-$179K (Glassdoor est.)',
       '$116K-$181K (Glassdoor est.)', '$112K-$178K (Glassdoor est.)',
       '$100K-$152K (Glassdoor est.)', '$38K-$68K (Glassdoor est.)',
       '$73K-$111K (Glassdoor est.)', '$82K-$129K(Employer est.)',
       '$74K-$144K (Glassdoor est.)', '$41K-$66K (Glassdoor est.)',
       '$59K-$113K (Glassdoor est.)', '$70K-$129K (Glassdoor est.)',
       '$50K-$110K (Glassdoor est.)', '$62K-$112K (Glassdoor est.)',
       '$114K-$185K (Glassdoor est.)', '$61K-$94K (Glassdoor est.)',
       '$54K-$88K (Glassdoor est.)', '$66K-$130K (Glassdoor est.)',
       '$96K-$155K (Glassdoor est.)', '$57K-$80K (Glassdoor est.)',
       '$47K-$84K (Glassdoor est.)', '$39K-$71K (Glassdoor est.)',
       '$55K-$98K (Glassdoor est.)', '$93K-$103K (Glassdoor est.)',
       '$100K-$163K (Glassdoor est.)', '$98K-$160K (Glassdoor est.)',
       '$52K-$94K (Glassdoor est.)', '$55K-$113K (Glassdoor est.)',
       '$39K-$86K (Glassdoor est.)', '$55K-$112K (Glassdoor est.)',
       '$80K-$150K (Glassdoor est.)', '$73K-$94K (Glassdoor est.)',
       '$85K-$154K (Glassdoor est.)', '$84K-$113K (Glassdoor est.)',
       '$57K-$75K (Glassdoor est.)', '$105K-$121K (Glassdoor est.)',
       '$92K-$117K (Glassdoor est.)', '$88K-$136K (Glassdoor est.)',
       '$95K-$167K (Glassdoor est.)', '$79K-$146K (Glassdoor est.)',
       '$93K-$106K (Glassdoor est.)', '$115K-$201K (Glassdoor est.)',
       '$94K-$164K (Glassdoor est.)', '$49K-$98K (Glassdoor est.)',
       '$56K-$108K (Glassdoor est.)', '$85K-$158K (Glassdoor est.)',
       '$133K-$210K (Glassdoor est.)', '$95K-$99K (Glassdoor est.)',
       '$67K-$72K (Glassdoor est.)', '$53K-$100K (Glassdoor est.)',
       '$81K-$100K (Glassdoor est.)', '$94K-$107K (Glassdoor est.)',
       '$43K-$84K (Glassdoor est.)', '$62K-$92K (Glassdoor est.)',
       '$55K-$106K (Glassdoor est.)', '$69K-$103K (Glassdoor est.)',
       '$54K-$113K (Glassdoor est.)', '$74K-$123K (Glassdoor est.)',
       '$69K-$122K (Glassdoor est.)', '$79K-$104K (Glassdoor est.)',
       '$81K-$141K (Glassdoor est.)', '$87K-$104K (Glassdoor est.)',
       '$73K-$126K (Glassdoor est.)', '$58K-$94K (Glassdoor est.)',
       '$74K-$145K (Glassdoor est.)', '$66K-$122K (Glassdoor est.)',
       '$118K-$187K (Glassdoor est.)', '$70K-$138K (Glassdoor est.)',
       '$57K-$92K (Glassdoor est.)', '$57K-$97K (Glassdoor est.)',
       '$65K-$101K (Glassdoor est.)', '$57K-$108K (Glassdoor est.)',
       '$54K-$104K (Glassdoor est.)', '$55K-$105K (Glassdoor est.)',
       '$71K-$130K(Employer est.)', '$154K-$281K (Glassdoor est.)',
       '$74K-$93K (Glassdoor est.)', '$75K-$135K (Glassdoor est.)',
       '$28K-$53K (Glassdoor est.)', '$67K-$107K (Glassdoor est.)',
       '$52K-$63K (Glassdoor est.)', '$59K-$135K (Glassdoor est.)',
       '$77K-$181K (Glassdoor est.)', '$113K-$198K (Glassdoor est.)',
       '$46K-$92K (Glassdoor est.)', '$79K-$132K (Glassdoor est.)',
       '$191K-$217K (Glassdoor est.)', '$140K-$151K (Glassdoor est.)',
       '$106K-$127K (Glassdoor est.)', '$64K-$124K (Glassdoor est.)',
       '$66K-$113K (Glassdoor est.)', '$105K-$110K (Glassdoor est.)',
       '$60K-$109K (Glassdoor est.)', '$74K-$134K (Glassdoor est.)',
       '$110K-$188K (Glassdoor est.)', '$91K-$166K (Glassdoor est.)',
       '$164K-$192K (Glassdoor est.)', '$108K-$199K (Glassdoor est.)',
       '$77K-$145K (Glassdoor est.)', '$54K-$103K (Glassdoor est.)',
       '$108K-$127K (Glassdoor est.)', '$100K-$181K (Glassdoor est.)',
       '$88K-$163K (Glassdoor est.)', '$79K-$96K (Glassdoor est.)',
       '$99K-$177K (Glassdoor est.)', '$52K-$85K (Glassdoor est.)',
       '$67K-$126K (Glassdoor est.)', '$82K-$130K(Employer est.)',
       '$27K-$50K (Glassdoor est.)', '$44K-$141K (Glassdoor est.)',
       '$39K-$77K (Glassdoor est.)', '$45K-$76K (Glassdoor est.)',
       '$65K-$120K (Glassdoor est.)', '$30K-$60K (Glassdoor est.)',
       '$100K-$160K (Glassdoor est.)', '$48K-$74K (Glassdoor est.)',
       '$56K-$89K (Glassdoor est.)', '$76K-$128K (Glassdoor est.)',
       '$37K-$66K (Glassdoor est.)', '$46K-$87K (Glassdoor est.)',
       '$51K-$88K (Glassdoor est.)', '$51K-$87K (Glassdoor est.)',
       '$59K-$85K (Glassdoor est.)', '$60K-$110K (Glassdoor est.)',
       '$41K-$78K (Glassdoor est.)', '$45K-$88K (Glassdoor est.)',
       '$73K-$127K (Glassdoor est.)', '$84K-$90K (Glassdoor est.)',
       '$27K-$52K (Glassdoor est.)', '$42K-$74K (Glassdoor est.)',
       '$77K-$132K (Glassdoor est.)', '$98K-$114K (Glassdoor est.)',
       '$48K-$96K (Glassdoor est.)', '$26K-$47K (Glassdoor est.)',
       '$31K-$59K (Glassdoor est.)', '$47K-$81K (Glassdoor est.)',
       '$43K-$69K (Glassdoor est.)', '$49K-$112K (Glassdoor est.)',
       '$30K-$54K (Glassdoor est.)', '$55K-$103K (Glassdoor est.)',
       '$37K-$70K (Glassdoor est.)', '$57K-$103K (Glassdoor est.)',
       '$35K-$45K (Glassdoor est.)', '$42K-$66K (Glassdoor est.)',
       '$65K-$81K (Glassdoor est.)', '$113K-$132K (Glassdoor est.)',
       '$42K-$63K (Glassdoor est.)', '$60K-$66K (Glassdoor est.)',
       '$73K-$82K (Glassdoor est.)', '$67K-$92K (Glassdoor est.)',
       '$42K-$76K (Glassdoor est.)', '$97K-$129K (Glassdoor est.)',
       '$68K-$87K (Glassdoor est.)', '$29K-$38K (Glassdoor est.)',
       '$47K-$76K (Glassdoor est.)', '$53K-$94K (Glassdoor est.)',
       '$46K-$102K (Glassdoor est.)', '$43K-$94K (Glassdoor est.)',
       '$37K-$44K (Glassdoor est.)', '$64K-$113K (Glassdoor est.)',
       '$50K-$93K (Glassdoor est.)', '$37K-$68K (Glassdoor est.)',
       '$73K-$89K (Glassdoor est.)', '$34K-$61K (Glassdoor est.)',
       '$24K-$48K (Glassdoor est.)', '$30K-$53K (Glassdoor est.)',
       '$41K-$86K (Glassdoor est.)', '$44K-$82K (Glassdoor est.)',
       '$48K-$88K (Glassdoor est.)', '$44K-$78K (Glassdoor est.)',
       '$110K-$190K (Glassdoor est.)', '$89K-$151K (Glassdoor est.)',
       '$69K-$127K (Glassdoor est.)', '$51K-$93K (Glassdoor est.)',
       '$58K-$93K (Glassdoor est.)', '$63K-$116K (Glassdoor est.)',
       '$53K-$104K (Glassdoor est.)', '$35K-$42K (Glassdoor est.)',
       '$43K-$77K (Glassdoor est.)', '$40K-$72K (Glassdoor est.)',
       '$50K-$86K (Glassdoor est.)', '$35K-$67K (Glassdoor est.)',
       '$57K-$70K (Glassdoor est.)', '$28K-$52K (Glassdoor est.)',
       '$46K-$86K (Glassdoor est.)', '$54K-$75K (Glassdoor est.)',
       '$53K-$99K (Glassdoor est.)', '$40K-$74K (Glassdoor est.)',
       '$57K-$104K (Glassdoor est.)', '$99K-$178K (Glassdoor est.)',
       '$93K-$159K (Glassdoor est.)', '$82K-$116K (Glassdoor est.)',
       '$47K-$74K (Glassdoor est.)', '-1', '$32K-$56K (Glassdoor est.)',
       '$36K-$67K (Glassdoor est.)', '$57K-$67K (Glassdoor est.)',
       '$49K-$91K (Glassdoor est.)', '$57K-$100K (Glassdoor est.)',
       '$78K-$104K (Glassdoor est.)', '$56K-$102K (Glassdoor est.)',
       '$55K-$78K (Glassdoor est.)', '$81K-$159K (Glassdoor est.)',
       '$85K-$135K (Glassdoor est.)', '$45K-$82K (Glassdoor est.)',
       '$48K-$92K (Glassdoor est.)', '$69K-$131K (Glassdoor est.)',
       '$51K-$95K (Glassdoor est.)', '$72K-$100K (Glassdoor est.)',
       '$56K-$88K (Glassdoor est.)', '$88K-$160K (Glassdoor est.)',
       '$80K-$90K(Employer est.)', '$62K-$120K (Glassdoor est.)',
       '$72K-$134K (Glassdoor est.)', '$99K-$118K (Glassdoor est.)',
       '$77K-$151K (Glassdoor est.)', '$124K-$186K (Glassdoor est.)',
       '$63K-$79K (Glassdoor est.)', '$102K-$160K (Glassdoor est.)',
       '$58K-$68K (Glassdoor est.)', '$34K-$64K (Glassdoor est.)',
       '$48K-$100K (Glassdoor est.)', '$45K-$85K (Glassdoor est.)',
       '$43K-$81K (Glassdoor est.)', '$45K-$73K (Glassdoor est.)',
       '$74K-$85K (Glassdoor est.)', '$62K-$111K (Glassdoor est.)',
       '$40K-$77K (Glassdoor est.)', '$69K-$97K (Glassdoor est.)',
       '$59K-$111K (Glassdoor est.)', '$42K-$80K (Glassdoor est.)',
       '$100K-$128K (Glassdoor est.)', '$54K-$118K (Glassdoor est.)',
       '$48K-$81K (Glassdoor est.)', '$74K-$100K (Glassdoor est.)',
       '$44K-$87K (Glassdoor est.)', '$46K-$85K (Glassdoor est.)',
       '$44K-$86K (Glassdoor est.)', '$41K-$81K (Glassdoor est.)',
       '$40K-$84K (Glassdoor est.)', '$45K-$96K (Glassdoor est.)',
       '$53K-$96K (Glassdoor est.)', '$50K-$66K (Glassdoor est.)',
       '$78K-$146K (Glassdoor est.)', '$45K-$53K (Glassdoor est.)',
       '$41K-$79K (Glassdoor est.)', '$66K-$124K (Glassdoor est.)',
       '$51K-$99K (Glassdoor est.)', '$36K-$61K (Glassdoor est.)',
       '$43K-$85K (Glassdoor est.)', '$53K-$103K (Glassdoor est.)',
       '$37K-$69K (Glassdoor est.)', '$42K-$77K (Glassdoor est.)',
       '$52K-$70K (Glassdoor est.)', '$38K-$133K (Glassdoor est.)',
       '$27K-$54K (Glassdoor est.)', '$34K-$79K (Glassdoor est.)',
       '$34K-$75K (Glassdoor est.)', '$41K-$88K (Glassdoor est.)',
       '$32K-$61K (Glassdoor est.)', '$89K-$107K (Glassdoor est.)',
       '$41K-$80K (Glassdoor est.)', '$59K-$138K (Glassdoor est.)',
       '$78K-$139K (Glassdoor est.)', '$43K-$79K (Glassdoor est.)',
       '$38K-$58K (Glassdoor est.)', '$121K-$206K (Glassdoor est.)',
       '$44K-$85K (Glassdoor est.)', '$98K-$188K (Glassdoor est.)',
       '$41K-$68K (Glassdoor est.)', '$53K-$102K (Glassdoor est.)',
       '$39K-$80K (Glassdoor est.)', '$40K-$81K (Glassdoor est.)',
       '$35K-$65K (Glassdoor est.)', '$48K-$63K (Glassdoor est.)',
       '$27K-$48K (Glassdoor est.)', '$48K-$107K (Glassdoor est.)',
       '$45K-$100K (Glassdoor est.)', '$46K-$90K (Glassdoor est.)',
       '$71K-$126K (Glassdoor est.)', '$81K-$97K (Glassdoor est.)',
       '$43K-$78K (Glassdoor est.)', '$31K-$61K (Glassdoor est.)',
       '$73K-$112K (Glassdoor est.)', '$49K-$168K (Glassdoor est.)',
       '$67K-$144K (Glassdoor est.)', '$61K-$79K (Glassdoor est.)',
       '$70K-$172K (Glassdoor est.)', '$38K-$76K (Glassdoor est.)',
       '$62K-$79K (Glassdoor est.)', '$42K-$78K (Glassdoor est.)',
       '$47K-$88K (Glassdoor est.)', '$69K-$138K (Glassdoor est.)',
       '$50K-$100K (Glassdoor est.)', '$40K-$76K (Glassdoor est.)',
       '$86K-$88K (Glassdoor est.)', '$58K-$116K (Glassdoor est.)',
       '$112K-$136K (Glassdoor est.)', '$63K-$119K (Glassdoor est.)',
       '$94K-$163K (Glassdoor est.)', '$98K-$172K (Glassdoor est.)',
       '$86K-$152K (Glassdoor est.)', '$119K-$226K (Glassdoor est.)',
       '$52K-$99K (Glassdoor est.)', '$46K-$68K (Glassdoor est.)',
       '$38K-$71K (Glassdoor est.)', '$82K-$161K (Glassdoor est.)',
       '$59K-$98K (Glassdoor est.)', '$85K-$130K (Glassdoor est.)',
       '$48K-$87K (Glassdoor est.)', '$38K-$82K (Glassdoor est.)',
       '$46K-$84K (Glassdoor est.)', '$59K-$107K (Glassdoor est.)',
       '$43K-$82K (Glassdoor est.)', '$34K-$65K (Glassdoor est.)',
       '$49K-$94K (Glassdoor est.)', '$33K-$60K (Glassdoor est.)',
       '$58K-$103K (Glassdoor est.)', '$50K-$78K (Glassdoor est.)',
       '$36K-$73K (Glassdoor est.)', '$31K-$57K (Glassdoor est.)',
       '$52K-$95K (Glassdoor est.)', '$45K-$110K (Glassdoor est.)',
       '$30K-$57K (Glassdoor est.)', '$28K-$54K (Glassdoor est.)',
       '$47K-$105K (Glassdoor est.)', '$52K-$120K (Glassdoor est.)',
       '$39K-$73K (Glassdoor est.)', '$66K-$114K (Glassdoor est.)'],
      dtype=object)

In [43]:
#Humeras working code
combined_job_df['Company Name'] = combined_job_df['Company Name'].str.replace('\r\n*','')
clean_dataSci_df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Job Category
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\r\n\r\nAt Hopper, we’re on a miss...",3.5,Hopper\r\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1,Data Science
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\r\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1,Data Science
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\r\n\r\nhttps://www.decode-m.com/\r\n\...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,True,Data Science
3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\r\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1,Data Science
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\r\nDescripti...",3.4,United Entertainment Group\r\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1,Data Science
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3904,AWS Data Engineer,$55K-$112K (Glassdoor est.),About Us\r\n\r\nTachyon Technologies is a Digi...,4.4,Tachyon Technologies\r\n4.4,"Dublin, OH","Irving, TX",201 to 500 employees,2011,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1,-1,Data Science
3905,Data Analyst â Junior,$55K-$112K (Glassdoor est.),"Job description\r\nInterpret data, analyze res...",5.0,"Staffigo Technical Services, LLC\r\n5.0","Columbus, OH","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,Data Science
3906,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),Job DescriptionThe Security Analytics Data Eng...,3.8,"PDS Tech, Inc.\r\n3.8","Dublin, OH","Irving, TX",5001 to 10000 employees,1977,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),-1,-1,Data Science
3907,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),The Security Analytics Data Engineer will inte...,4.0,Data Resource Technologies\r\n4.0,"Dublin, OH","Omaha, NE",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1,-1,Data Science
3908,Patient Safety Physician or Safety Scientist -...,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\r\nAt UCB, ...",3.7,UCB\r\n3.7,"Slough, OH","Brussel, Belgium",5001 to 10000 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),AbbVie,-1,Data Science

In [ ]:
#Salems working code
clean_dataSci_df['Salary Estimate'] = clean_dataSci_df['Salary Estimate'].str.replace('','')
clean_dataSci_df

In [44]:
#clean_busAnaly_df['Salary Estimate']

In [45]:
#congif.py document set user = <type your user name>, password = <type your password>, port = 5432, host = “localhost”.

In [46]:
#load to database
from config import user, password, host, port

ModuleNotFoundError: No module named 'config'

In [ ]:
db = 'NAME OF DATABASE GOES HERE'
rds_connection_string = f"{user}:{password}@{host}:{port}/{db}"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# looking at tables in db
engine.table_names()

In [ ]:
# loading df into db table
DataSci_df.to_sql(name='NAME OF TABLE GOES HERE', con=engine, if_exists='append', index=False)